.section {
  height: 50vh;
  display: flex; justify-content: center; align-items: center;
}

.compform {
  width: 360px;
}

@media screen and (max-width: 650px) {
  .compform {
    width: 100%;
  }
}

.compform-form {
  transition: all .35s ease;
}

.compform-form-logo {
  width: 120px;
  display: block;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.compform-form > h5 {
  margin-bottom: 1rem;
  font-size: 18px;
}

.compform-form-inputs  {
  display: block;
}

.compform-form-inputs > * {
  display: block;
}

.compform-form-inputs > input {
  border: 1px solid rgb(189, 189, 189);
  border-radius: 6px;
  padding: .6rem .8rem;
  font-size: 16px;
  margin-bottom: 1rem;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .compform-form-inputs > input {
    width: 100%;
  }
}

.compform-form-inputs-button {
  border-radius: 6px;
  padding: .8rem 1rem;
  width: 100%;
  background-color: rgb(41, 42, 100);
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex; justify-content: center; align-items: center;
}

@media screen and (max-width: 650px) {
  .compform-form-inputs-button {
    width: 100%;
  }
}

.compform-form-inputs-iconloading {
  animation: spin 1s infinite linear;
  font-size: 16px;
  width: 16px; height: 16px;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.compform-form-inputs-info {
  margin-top: 1rem;
  color: var(--color-red);
  text-align: center;
}

.compform-success {
  display: none;
  text-align: center;
  animation: opacity .35s ease;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.compform-success > svg {
  font-size: 3rem;
  width: 48px; height: 48px;
  color: var(--color-green);
  margin-bottom: 2rem;
}

